[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
isort = "*"

[packages]
pandas = "*"
ipykernel = "*"
psycopg2-binary = "*"
pyodbc = "*"
pymysql = "*"
streamlit = "*"
typer = "*"
tqdm = "*"
termcolor = "*"
mariadb = "*"
snowflake-connector-python = "*"
setuptools = "*"
aeda = {editable = true, path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
