[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
psycopg2-binary = "*"
pyodbc = "*"
pymysql = "*"
streamlit = "*"
typer = "*"
tqdm = "*"
termcolor = "*"
mariadb = "==1.0.11" # MariaDB Connector/Python `sudo apt install libmariadb3 libmariadb-dev -y` https://mariadb.com/docs/server/connect/programming-languages/python/install/
snowflake-connector-python = "*"
aeda = {editable = true, path = "."}
panel = "*"
pipfile = "*"
hdbcli = "*"

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
pre-commit = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
nbsphinx = "*"
rst-to-myst = {extras = ["sphinx"], version = "*"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
