[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
psycopg2-binary = "*"
pyodbc = "*"
pymysql = "*"
streamlit = "*"
typer = "*"
tqdm = "*"
termcolor = "*"
mariadb = "*" # MariaDB Connector/Python `sudo apt install libmariadb3 libmariadb-dev`
snowflake-connector-python = "*"
aeda = {editable = true, path = "."}
panel = "*"

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
